@import url(../../../https://fonts.googleapis.com/css?family=Lobster+Two:400,400i,700,700i);
@import url(../../../https://fonts.googleapis.com/css?family=Pacifico:400);
@import url(../../../https://fonts.googleapis.com/css?family=Lobster:400);
@import url(../../../https://fonts.googleapis.com/css?family=Patua+One:400);
@import url(../../../https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i);





body {
  font-family: Rubik;
  font-style: normal;
  line-height: 1.5;
}
.mbr-section-title {
  font-style: normal;
  line-height: 1.2;
}
.mbr-section-subtitle {
  line-height: 1.3;
}
.mbr-text {
  font-style: normal;
  line-height: 1.6;
}
.display-1 {
  font-family: 'Lobster Two', display;
  font-size: 4.25rem;
}
.display-2 {
  font-family: 'Pacifico', handwriting;
  font-size: 3rem;
}
.display-4 {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
}
.display-5 {
  font-family: 'Lobster', display;
  font-size: 1.6rem;
}
.display-7 {
  font-family: 'Patua One', display;
  font-size: 1.2rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.4rem;
    font-size: calc( 2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.28rem;
    font-size: calc( 1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  font-weight: 500;
  border-width: 2px;
  font-style: normal;
  letter-spacing: 1px;
  margin: .4rem .8rem;
  white-space: normal;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1rem 3rem;
  border-radius: 3px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  word-break: break-word;
}
.btn .mbr-iconfont {
  font-size: 1.6rem;
}
.navbar .btn {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
}
.btn-sm {
  font-weight: 500;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  font-weight: 500;
  letter-spacing: 1px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  font-weight: 500;
  letter-spacing: 1px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #149dcc !important;
}
.bg-success {
  background-color: #f7ed4a !important;
}
.bg-info {
  background-color: #149dcc !important;
}
.bg-warning {
  background-color: #879a9f !important;
}
.bg-danger {
  background-color: #b1a374 !important;
}
.btn-primary,
.btn-primary:active,
.btn-primary.active {
  background-color: #149dcc;
  border-color: #149dcc;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff;
  background-color: #0d6786;
  border-color: #0d6786;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #0d6786 !important;
  border-color: #0d6786 !important;
}
.btn-secondary,
.btn-secondary:active,
.btn-secondary.active {
  background-color: #cfeff9;
  border-color: #cfeff9;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus {
  color: #ffffff;
  background-color: #8bd8f0;
  border-color: #8bd8f0;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #8bd8f0 !important;
  border-color: #8bd8f0 !important;
}
.btn-info,
.btn-info:active,
.btn-info.active {
  background-color: #149dcc;
  border-color: #149dcc;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus {
  color: #ffffff;
  background-color: #0d6786;
  border-color: #0d6786;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #0d6786 !important;
  border-color: #0d6786 !important;
}
.btn-success,
.btn-success:active,
.btn-success.active {
  background-color: #f7ed4a;
  border-color: #f7ed4a;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus {
  color: #ffffff;
  background-color: #eadd0a;
  border-color: #eadd0a;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-warning,
.btn-warning:active,
.btn-warning.active {
  background-color: #879a9f;
  border-color: #879a9f;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus {
  color: #ffffff;
  background-color: #617479;
  border-color: #617479;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-danger,
.btn-danger:active,
.btn-danger.active {
  background-color: #b1a374;
  border-color: #b1a374;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus {
  color: #ffffff;
  background-color: #8b7d4e;
  border-color: #8b7d4e;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active,
.btn-white.active {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  color: #ffffff;
  background-color: #d4d4d4;
  border-color: #d4d4d4;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #ffffff !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-black,
.btn-black:active,
.btn-black.active {
  background-color: #333333;
  border-color: #333333;
  color: #ffffff;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus {
  color: #ffffff;
  background-color: #0d0d0d;
  border-color: #0d0d0d;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active,
.btn-primary-outline.active {
  background: none;
  border-color: #0b566f;
  color: #0b566f;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus {
  color: #ffffff;
  background-color: #149dcc;
  border-color: #149dcc;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #149dcc !important;
  border-color: #149dcc !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  background: none;
  border-color: #74d1ee;
  color: #74d1ee;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus {
  color: #ffffff;
  background-color: #cfeff9;
  border-color: #cfeff9;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #cfeff9 !important;
  border-color: #cfeff9 !important;
}
.btn-info-outline,
.btn-info-outline:active,
.btn-info-outline.active {
  background: none;
  border-color: #0b566f;
  color: #0b566f;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus {
  color: #ffffff;
  background-color: #149dcc;
  border-color: #149dcc;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #149dcc !important;
  border-color: #149dcc !important;
}
.btn-success-outline,
.btn-success-outline:active,
.btn-success-outline.active {
  background: none;
  border-color: #d2c609;
  color: #d2c609;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus {
  color: #ffffff;
  background-color: #f7ed4a;
  border-color: #f7ed4a;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
}
.btn-warning-outline,
.btn-warning-outline:active,
.btn-warning-outline.active {
  background: none;
  border-color: #55666b;
  color: #55666b;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus {
  color: #ffffff;
  background-color: #879a9f;
  border-color: #879a9f;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #879a9f !important;
  border-color: #879a9f !important;
}
.btn-danger-outline,
.btn-danger-outline:active,
.btn-danger-outline.active {
  background: none;
  border-color: #7a6e45;
  color: #7a6e45;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus {
  color: #ffffff;
  background-color: #b1a374;
  border-color: #b1a374;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
}
.btn-black-outline,
.btn-black-outline:active,
.btn-black-outline.active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #149dcc !important;
}
.text-secondary {
  color: #cfeff9 !important;
}
.text-success {
  color: #f7ed4a !important;
}
.text-info {
  color: #149dcc !important;
}
.text-warning {
  color: #879a9f !important;
}
.text-danger {
  color: #b1a374 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #0b566f !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #74d1ee !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #d2c609 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #0b566f !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #55666b !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #7a6e45 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #149dcc;
}
.alert-warning {
  background-color: #879a9f;
}
.alert-danger {
  background-color: #b1a374;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #149dcc;
  border-color: #149dcc;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
.btn-form {
  border-radius: 0;
}
.btn-form:hover {
  cursor: pointer;
}
a,
a:hover {
  color: #149dcc;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #b4e6f8;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #b4e6f8;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ced6d8;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #dfd9c6;
}
/* Scroll to top button*/
#scrollToTop a {
  border-radius: 100px;
}
/* Others*/
.note-check a[data-value=Rubik] {
  font-style: normal;
}
.mbr-arrow a {
  color: #ffffff;
}
.form-control-label {
  position: relative;
  cursor: pointer;
  margin-bottom: .357em;
  padding: 0;
}
.alert {
  color: #ffffff;
  border-radius: 0;
  border: 0;
  font-size: .875rem;
  line-height: 1.5;
  margin-bottom: 1.875rem;
  padding: 1.25rem;
  position: relative;
}
.alert.alert-form::after {
  background-color: inherit;
  bottom: -7px;
  content: "";
  display: block;
  height: 14px;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  transform: rotate(45deg);
  width: 14px;
}
.form-control {
  background-color: #f5f5f5;
  box-shadow: none;
  color: #565656;
  font-family: 'Patua One', display;
  font-size: 1.2rem;
  line-height: 1.43;
  min-height: 3.5em;
  padding: 1.07em .5em;
}
.form-control,
.form-control:focus {
  border: 1px solid #e8e8e8;
}
.form-active .form-control:invalid {
  border-color: red;
}
.mbr-overlay {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: .5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}
blockquote {
  font-style: italic;
  padding: 10px 0 10px 20px;
  font-size: 1.09rem;
  position: relative;
  border-color: #149dcc;
  border-width: 3px;
}
ul,
ol,
pre,
blockquote {
  margin-bottom: 2.3125rem;
}
pre {
  background: #f4f4f4;
  padding: 10px 24px;
  white-space: pre-wrap;
}
.navbar-caption {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
}
.inactive {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
  user-drag: none;
}
.mbr-section__comments .row {
  justify-content: center;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.form2 .form-control {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
.form2 .input-group-btn a.btn {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.form2 .input-group-btn button[type="submit"] {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.form3 input[type="email"] {
  border-radius: 100px !important;
}
@media (max-width: 349px) {
  .form2 input[type="email"] {
    border-radius: 100px !important;
  }
  .form2 .input-group-btn a.btn {
    border-radius: 100px !important;
  }
  .form2 .input-group-btn button[type="submit"] {
    border-radius: 100px !important;
  }
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Social block */
.btn-social {
  font-size: 20px;
  border-radius: 50%;
  padding: 0;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  position: relative;
  border: 2px solid #c0a375;
  border-color: #149dcc;
  color: #232323;
  cursor: pointer;
}
.btn-social i {
  top: 0;
  line-height: 44px;
  width: 44px;
}
.btn-social:hover {
  color: #fff;
  background: #149dcc;
}
.btn-social + .btn {
  margin-left: .1rem;
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #149dcc;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #149dcc;
}
.footer3 input[type="email"],
.footer4 input[type="email"] {
  border-radius: 100px !important;
}
.footer3 .input-group-btn a.btn,
.footer4 .input-group-btn a.btn {
  border-radius: 100px !important;
}
.footer3 .input-group-btn button[type="submit"],
.footer4 .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
}
/* Headers*/
.header13 .form-inline input[type="email"],
.header14 .form-inline input[type="email"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="text"],
.header14 .form-inline input[type="text"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="tel"],
.header14 .form-inline input[type="tel"] {
  border-radius: 100px;
}
.header13 .form-inline a.btn,
.header14 .form-inline a.btn {
  border-radius: 100px;
}
.header13 .form-inline button,
.header14 .form-inline button {
  border-radius: 100px !important;
}
.cid-qrfSFjiGL3 .navbar {
  padding: .5rem 0;
  background: #bec4ed;
  transition: none;
  min-height: 77px;
}
.cid-qrfSFjiGL3 .navbar-dropdown.bg-color.transparent.opened {
  background: #bec4ed;
}
.cid-qrfSFjiGL3 a {
  font-style: normal;
}
.cid-qrfSFjiGL3 .nav-item span {
  padding-right: 0.4em;
  font-size: 1.6rem;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  top: -0.2em;
  text-decoration: none;
}
.cid-qrfSFjiGL3 .nav-item a {
  padding: 0.7rem 0 !important;
  margin: 0rem .65rem !important;
}
.cid-qrfSFjiGL3 .btn {
  padding: 0.4rem 1.5rem;
  display: inline-flex;
  align-items: center;
}
.cid-qrfSFjiGL3 .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-qrfSFjiGL3 .menu-logo {
  margin-right: auto;
}
.cid-qrfSFjiGL3 .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  padding: 0;
  transition: padding .2s;
  min-height: 3.8rem;
  align-items: center;
}
.cid-qrfSFjiGL3 .menu-logo .navbar-brand .navbar-caption-wrap {
  display: -webkit-flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-qrfSFjiGL3 .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-qrfSFjiGL3 .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-qrfSFjiGL3 .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-qrfSFjiGL3 .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-qrfSFjiGL3 .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding-right: 5rem;
  width: auto;
}
.cid-qrfSFjiGL3 .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-qrfSFjiGL3 .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-qrfSFjiGL3 .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-qrfSFjiGL3 .dropdown .dropdown-menu {
  background: #bec4ed;
  display: none;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-qrfSFjiGL3 .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 1.5385em 0.235em 1.5385em !important;
}
.cid-qrfSFjiGL3 .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-qrfSFjiGL3 .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-qrfSFjiGL3 .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-qrfSFjiGL3 .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-qrfSFjiGL3 .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-qrfSFjiGL3 .navbar.navbar-short .navbar-toggler-right {
  top: 20px;
}
.cid-qrfSFjiGL3 .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-qrfSFjiGL3 .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-qrfSFjiGL3 .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-qrfSFjiGL3 .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-qrfSFjiGL3 button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 1.5rem;
  right: 1rem;
}
.cid-qrfSFjiGL3 button.navbar-toggler:focus {
  outline: none;
}
.cid-qrfSFjiGL3 button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-qrfSFjiGL3 button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-qrfSFjiGL3 button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-qrfSFjiGL3 button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-qrfSFjiGL3 button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-qrfSFjiGL3 nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qrfSFjiGL3 nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-qrfSFjiGL3 nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-qrfSFjiGL3 nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qrfSFjiGL3 .collapsed .btn {
  display: flex;
}
.cid-qrfSFjiGL3 .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-qrfSFjiGL3 .collapsed .navbar-collapse.collapsing,
.cid-qrfSFjiGL3 .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-qrfSFjiGL3 .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-qrfSFjiGL3 .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-qrfSFjiGL3 .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-qrfSFjiGL3 .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-qrfSFjiGL3 .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-qrfSFjiGL3 .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-qrfSFjiGL3 .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-qrfSFjiGL3 .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
.cid-qrfSFjiGL3 .collapsed button.navbar-toggler {
  display: block;
}
.cid-qrfSFjiGL3 .collapsed .navbar-brand {
  margin-left: 1rem !important;
  margin-top: .5rem;
}
.cid-qrfSFjiGL3 .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-qrfSFjiGL3 .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-qrfSFjiGL3 .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-qrfSFjiGL3 .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-qrfSFjiGL3 .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
@media (max-width: 991px) {
  .cid-qrfSFjiGL3 img {
    height: 3.8rem !important;
  }
  .cid-qrfSFjiGL3 .btn {
    display: flex;
  }
  .cid-qrfSFjiGL3 button.navbar-toggler {
    display: block;
  }
  .cid-qrfSFjiGL3 .navbar-brand {
    margin-left: 1rem !important;
    margin-top: .5rem;
  }
  .cid-qrfSFjiGL3 .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-qrfSFjiGL3 .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-qrfSFjiGL3 .navbar-collapse.collapsing,
  .cid-qrfSFjiGL3 .navbar-collapse.show {
    display: block !important;
  }
  .cid-qrfSFjiGL3 .navbar-collapse.collapsing .navbar-nav,
  .cid-qrfSFjiGL3 .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-qrfSFjiGL3 .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-qrfSFjiGL3 .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-qrfSFjiGL3 .navbar-collapse.collapsing .navbar-buttons,
  .cid-qrfSFjiGL3 .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-qrfSFjiGL3 .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-qrfSFjiGL3 .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-qrfSFjiGL3 .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-qrfSFjiGL3 .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-qrfSFjiGL3 .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-qrfSFjiGL3 .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
.cid-qrfLjapp0i .modal-body .close {
  background: #1b1b1b;
}
.cid-qrfLjapp0i .modal-body .close span {
  font-style: normal;
}
.cid-qrfLjapp0i .carousel-inner > .active,
.cid-qrfLjapp0i .carousel-inner > .next,
.cid-qrfLjapp0i .carousel-inner > .prev {
  display: table;
}
.cid-qrfLjapp0i .carousel-control .icon-next,
.cid-qrfLjapp0i .carousel-control .icon-prev {
  margin-top: -18px;
  font-size: 40px;
  line-height: 27px;
}
.cid-qrfLjapp0i .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-qrfLjapp0i .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-qrfLjapp0i .boxed-slider {
  position: relative;
  padding: 93px 0;
}
.cid-qrfLjapp0i .boxed-slider > div {
  position: relative;
}
.cid-qrfLjapp0i .container img {
  width: 100%;
}
.cid-qrfLjapp0i .container img + .row {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 2;
}
.cid-qrfLjapp0i .mbr-section {
  padding: 0;
  background-attachment: scroll;
}
.cid-qrfLjapp0i .mbr-table-cell {
  padding: 0;
}
.cid-qrfLjapp0i .container .carousel-indicators {
  margin-bottom: 3px;
}
.cid-qrfLjapp0i .carousel-caption {
  top: 50%;
  right: 0;
  bottom: auto;
  left: 0;
  display: flex;
  align-items: center;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.cid-qrfLjapp0i .mbr-overlay {
  z-index: 1;
}
.cid-qrfLjapp0i .container-slide.container {
  width: 100%;
  min-height: 100vh;
  padding: 0;
}
.cid-qrfLjapp0i .carousel-item {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  -o-transition: -o-transform 0.6s ease-in-out;
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out, -o-transform 0.6s ease-in-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}
@media (max-width: 576px) {
  .cid-qrfLjapp0i .carousel-item .container {
    width: 100%;
  }
}
.cid-qrfLjapp0i .carousel-item-next.carousel-item-left,
.cid-qrfLjapp0i .carousel-item-prev.carousel-item-right {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.cid-qrfLjapp0i .active.carousel-item-right,
.cid-qrfLjapp0i .carousel-item-next {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
.cid-qrfLjapp0i .active.carousel-item-left,
.cid-qrfLjapp0i .carousel-item-prev {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
.cid-qrfLjapp0i .mbr-slider .carousel-control {
  top: 50%;
  width: 70px;
  height: 70px;
  margin-top: -1.5rem;
  font-size: 35px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all .3s;
}
.cid-qrfLjapp0i .mbr-slider .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-qrfLjapp0i .mbr-slider .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
.cid-qrfLjapp0i .mbr-slider .carousel-control .mbr-iconfont {
  font-size: 2rem;
}
@media (max-width: 767px) {
  .cid-qrfLjapp0i .mbr-slider .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-qrfLjapp0i .mbr-slider .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 1.5rem !important;
}
.cid-qrfLjapp0i .mbr-slider .carousel-indicators li {
  max-width: 20px;
  height: 20px;
  max-height: 20px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: .5;
  transition: all .3s;
}
.cid-qrfLjapp0i .mbr-slider .carousel-indicators li.active,
.cid-qrfLjapp0i .mbr-slider .carousel-indicators li:hover {
  opacity: .9;
}
.cid-qrfLjapp0i .mbr-slider .carousel-indicators li::after,
.cid-qrfLjapp0i .mbr-slider .carousel-indicators li::before {
  content: none;
}
.cid-qrfLjapp0i .mbr-slider .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 576px) {
  .cid-qrfLjapp0i .mbr-slider .carousel-indicators {
    display: none !important;
  }
}
.cid-qrfLjapp0i .mbr-slider > .container img {
  width: 100%;
}
.cid-qrfLjapp0i .mbr-slider > .container img + .row {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  z-index: 2;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.cid-qrfLjapp0i .mbr-slider > .container .carousel-indicators {
  margin-bottom: 3px;
}
@media (max-width: 576px) {
  .cid-qrfLjapp0i .mbr-slider > .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-qrfLjapp0i .mbr-slider .mbr-section {
  padding: 0;
  background-attachment: scroll;
}
.cid-qrfLjapp0i .mbr-slider .mbr-table-cell {
  padding: 0;
}
.cid-qrfLjapp0i .carousel-item .container.container-slide {
  position: initial;
  width: auto;
  min-height: 0;
}
.cid-qrfLjapp0i .full-screen .slider-fullscreen-image {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.cid-qrfLjapp0i .full-screen .slider-fullscreen-image.active {
  display: -o-flex;
}
.cid-qrfLjapp0i .full-screen .container {
  width: auto;
  padding-right: 0;
  padding-left: 0;
}
.cid-qrfLjapp0i .full-screen .carousel-item .container.container-slide {
  width: 100%;
  min-height: 100vh;
  padding: 0;
}
.cid-qrfLjapp0i .full-screen .carousel-item .container.container-slide img {
  display: none;
}
.cid-qrfLjapp0i .mbr-background-video-preview {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.cid-qrfLjapp0i .mbr-overlay ~ .container-slide {
  z-index: auto;
}
.cid-qrfLjapp0i H2 {
  color: #ff7f9f;
  text-align: center;
}
.cid-qrfLjapp0i P {
  color: #b7bef0;
  text-align: center;
}
.cid-qrfUdxDtAM {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/mbr-1-1620x1080.jpg");
}
.cid-qrfUdxDtAM h4 {
  font-weight: 500;
  color: #ffffff;
}
.cid-qrfUdxDtAM p {
  color: #ffffff;
}
.cid-qrfUdxDtAM .card {
  margin-bottom: 2rem;
}
.cid-qrfUdxDtAM .card-img {
  border-radius: 0;
  padding: 2rem 2rem 0 2rem;
  background-color: #c884de;
}
.cid-qrfUdxDtAM .card-img span {
  font-size: 100px;
  color: #ffffff;
}
.cid-qrfUdxDtAM .card-box {
  padding-bottom: 2rem;
  background-color: #c884de;
  background: linear-gradient(#c884de, transparent);
}
.cid-qrfUdxDtAM .card-box .card-title {
  margin: 0;
  padding: 2rem 2rem 0 2rem;
}
.cid-qrfUdxDtAM .card-box .mbr-text {
  margin-bottom: 0;
  padding: 2rem 2rem 0 2rem;
}
.cid-qrfUdxDtAM .card-box .mbr-section-btn {
  padding-top: 1rem;
}
.cid-qrfUdxDtAM .card-box .mbr-section-btn a {
  margin-top: 1rem;
  margin-bottom: 0;
}
.cid-qrfUdxDtAM .card-title,
.cid-qrfUdxDtAM .card-img {
  color: #efd9c2;
}
.cid-qrg2BADjNJ {
  padding-top: 90px;
  padding-bottom: 90px;
  background: linear-gradient(45deg, #f4a997, #a09fc0);
}
@media (min-width: 992px) {
  .cid-qrg2BADjNJ .mbr-figure {
    padding-left: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-qrg2BADjNJ .mbr-figure {
    padding-top: 3rem;
  }
}
.cid-qrg2BADjNJ .mbr-section-title {
  text-align: center;
  color: #c21440;
}
.cid-qrg2BADjNJ .mbr-text,
.cid-qrg2BADjNJ .mbr-section-btn {
  text-align: left;
}
.cid-qrg5SFzq79 {
  padding-top: 90px;
  padding-bottom: 90px;
}
.cid-qrg5SFzq79 h2 {
  text-align: center;
}
.cid-qrg5SFzq79 h3 {
  text-align: center;
  font-weight: 300;
}
.cid-qrg5SFzq79 p {
  color: #767676;
}
.cid-qrg5SFzq79 .block-content {
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}
.cid-qrg5SFzq79 .mbr-figure {
  align-self: flex-start;
  -webkit-align-self: flex-start;
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
}
.cid-qrg5SFzq79 .media-container-row {
  word-wrap: break-word;
  word-break: break-word;
}
.cid-qrg5SFzq79 .mbr-section-subtitle {
  color: #767676;
}
.cid-qrg5SFzq79 .card-title {
  font-weight: 500;
}
.cid-qrg5SFzq79 .card-img {
  text-align: inherit;
}
.cid-qrg5SFzq79 .card-img span {
  font-size: 48px;
  color: #707070;
}
@media (min-width: 992px) {
  .cid-qrg5SFzq79 .mbr-figure {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-qrg5SFzq79 .mbr-figure {
    margin-bottom: 2rem;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-qrg5SFzq79 .mbr-figure {
    padding-right: 0;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
  .cid-qrg5SFzq79 .block-content {
    flex-direction: row;
    -webkit-flex-direction: row;
    text-align: center;
  }
  .cid-qrg5SFzq79 .block-content .card {
    flex-basis: 100%;
    -webkit-flex-basis: 100%;
  }
}
.cid-qrg5SFzq79 .mbr-section-text {
  color: #f51431;
}
.cid-qrgcJ5OJnS {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #cfeff9;
}
.cid-qrgcJ5OJnS h2 {
  text-align: left;
}
.cid-qrgcJ5OJnS h4 {
  text-align: left;
  font-weight: 500;
}
.cid-qrgcJ5OJnS p {
  color: #767676;
  text-align: left;
}
.cid-qrgcJ5OJnS .block-content {
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-qrgcJ5OJnS .mbr-card-img-title {
  display: -webkit-flex;
  flex-direction: row;
  align-items: center;
  -webkit-flex-direction: row;
  -webkit-align-items: center;
}
.cid-qrgcJ5OJnS .mbr-figure {
  align-self: flex-start;
  -webkit-align-self: flex-start;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.cid-qrgcJ5OJnS .card-img {
  padding-right: 2rem;
}
.cid-qrgcJ5OJnS .card-img span {
  font-size: 72px;
  color: #707070;
}
.cid-qrgcJ5OJnS .mbr-crt-title {
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
@media (min-width: 992px) {
  .cid-qrgcJ5OJnS .mbr-figure {
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-qrgcJ5OJnS .mbr-figure {
    padding-right: 0;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
  }
}
.cid-qrgcJ5OJnS H4 {
  text-align: left;
}
.cid-qrgcJ5OJnS P {
  color: #073b4c;
}
.cid-qrgfzxGBHG {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #cfeff9;
}
.cid-qrgfzxGBHG h2 {
  text-align: left;
}
.cid-qrgfzxGBHG h4 {
  text-align: left;
  font-weight: 500;
}
.cid-qrgfzxGBHG p {
  color: #767676;
  text-align: left;
}
.cid-qrgfzxGBHG .block-content {
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-qrgfzxGBHG .mbr-card-img-title {
  display: -webkit-flex;
  flex-direction: row;
  align-items: center;
  -webkit-flex-direction: row;
  -webkit-align-items: center;
}
.cid-qrgfzxGBHG .mbr-figure {
  align-self: flex-start;
  -webkit-align-self: flex-start;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.cid-qrgfzxGBHG .card-img {
  padding-right: 2rem;
}
.cid-qrgfzxGBHG .card-img span {
  font-size: 72px;
  color: #707070;
}
.cid-qrgfzxGBHG .mbr-crt-title {
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
@media (min-width: 992px) {
  .cid-qrgfzxGBHG .mbr-figure {
    padding-right: 4rem;
    padding-right: 0;
    padding-left: 4rem;
  }
  .cid-qrgfzxGBHG .media-container-row {
    -webkit-flex-direction: row-reverse;
  }
}
@media (max-width: 991px) {
  .cid-qrgfzxGBHG .mbr-figure {
    padding-right: 0;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-top: 1rem;
    margin-top: 2rem;
  }
  .cid-qrgfzxGBHG .media-container-row {
    -webkit-flex-direction: column-reverse;
  }
}
.cid-qrgfzxGBHG P {
  color: #073b4c;
}
.cid-qrghvF1FaK {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #cfeff9;
}
.cid-qrghvF1FaK h2 {
  text-align: left;
}
.cid-qrghvF1FaK h4 {
  text-align: left;
  font-weight: 500;
}
.cid-qrghvF1FaK p {
  color: #767676;
  text-align: left;
}
.cid-qrghvF1FaK .block-content {
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-qrghvF1FaK .mbr-card-img-title {
  display: -webkit-flex;
  flex-direction: row;
  align-items: center;
  -webkit-flex-direction: row;
  -webkit-align-items: center;
}
.cid-qrghvF1FaK .mbr-figure {
  align-self: flex-start;
  -webkit-align-self: flex-start;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.cid-qrghvF1FaK .card-img {
  padding-right: 2rem;
}
.cid-qrghvF1FaK .card-img span {
  font-size: 72px;
  color: #707070;
}
.cid-qrghvF1FaK .mbr-crt-title {
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
@media (min-width: 992px) {
  .cid-qrghvF1FaK .mbr-figure {
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-qrghvF1FaK .mbr-figure {
    padding-right: 0;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
  }
}
.cid-qrghvF1FaK P {
  color: #073b4c;
}
.cid-qrgjqpF0pP {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #efefef;
}
@media (min-width: 992px) {
  .cid-qrgjqpF0pP .mbr-figure {
    padding-left: 4rem;
  }
}
@media (max-width: 992px) {
  .cid-qrgjqpF0pP .mbr-figure {
    padding-top: 1rem;
  }
}
.cid-qrgjqpF0pP .mbr-text {
  color: #767676;
  text-align: left;
}
.cid-qrgjzbbzgo {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #efefef;
}
@media (min-width: 992px) {
  .cid-qrgjzbbzgo .mbr-figure {
    padding-right: 4rem;
  }
}
@media (max-width: 992px) {
  .cid-qrgjzbbzgo .mbr-figure {
    padding-bottom: 1rem;
  }
}
.cid-qrgjzbbzgo .mbr-text {
  color: #767676;
}
.cid-qrgmQrvKUf {
  padding-top: 90px;
  padding-bottom: 60px;
  background-color: #c1c6eb;
}
.cid-qrgmQrvKUf .card-img a {
  display: block;
  padding-top: 2rem;
}
.cid-qrgmQrvKUf .card-box {
  padding: 0 2rem;
}
.cid-qrgmQrvKUf .mbr-section-btn {
  padding-top: 1rem;
}
.cid-qrgmQrvKUf .mbr-section-btn a {
  margin-top: 1rem;
  margin-bottom: 0;
}
.cid-qrgmQrvKUf h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
  padding-top: 2rem;
}
.cid-qrgmQrvKUf p {
  margin-bottom: 0;
  text-align: left;
  padding-top: 1.5rem;
}
.cid-qrgmQrvKUf .mbr-text {
  color: #767676;
}
.cid-qrgmQrvKUf .card-wrapper {
  padding-bottom: 2rem;
  background: #ffffff;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-qrgmQrvKUf .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s;
}
.cid-qrgrWV3YX5 {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #efefef;
}
.cid-qrgrWV3YX5 .card-img a {
  display: block;
  padding-top: 2rem;
}
.cid-qrgrWV3YX5 .card-box {
  padding: 0 2rem;
}
.cid-qrgrWV3YX5 .mbr-section-btn {
  padding-top: 1rem;
}
.cid-qrgrWV3YX5 .mbr-section-btn a {
  margin-top: 1rem;
  margin-bottom: 0;
}
.cid-qrgrWV3YX5 h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
  padding-top: 2rem;
}
.cid-qrgrWV3YX5 p {
  margin-bottom: 0;
  text-align: left;
  padding-top: 1.5rem;
}
.cid-qrgrWV3YX5 .mbr-text {
  color: #767676;
}
.cid-qrgrWV3YX5 .card-wrapper {
  padding-bottom: 2rem;
  background: #ffffff;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-qrgrWV3YX5 .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s;
}
.cid-qrlNSFyuWQ .google-map {
  height: 25rem;
  position: relative;
}
.cid-qrlNSFyuWQ .google-map iframe {
  height: 100%;
  width: 100%;
}
.cid-qrlNSFyuWQ .google-map [data-state-details] {
  color: #6b6763;
  font-family: Montserrat;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-qrlNSFyuWQ .google-map[data-state] {
  background: #e9e5dc;
}
.cid-qrlNSFyuWQ .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
.cid-qrlOwAAzps {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #e9d9c9;
}
.cid-qrlOwAAzps .mbr-section-subtitle {
  color: #149dcc;
}
.cid-qrlV7VYsG8 {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #f4e8dd;
}
.cid-qrlV7VYsG8 .card-img a {
  display: block;
  padding-top: 2rem;
}
.cid-qrlV7VYsG8 .card-box {
  padding: 0 2rem;
}
.cid-qrlV7VYsG8 .mbr-section-btn {
  padding-top: 1rem;
}
.cid-qrlV7VYsG8 .mbr-section-btn a {
  margin-top: 1rem;
  margin-bottom: 0;
}
.cid-qrlV7VYsG8 h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
  padding-top: 2rem;
}
.cid-qrlV7VYsG8 p {
  margin-bottom: 0;
  text-align: left;
  padding-top: 1.5rem;
}
.cid-qrlV7VYsG8 .mbr-text {
  color: #767676;
}
.cid-qrlV7VYsG8 .card-wrapper {
  padding-bottom: 2rem;
  background: #ffffff;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-qrlV7VYsG8 .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s;
}
.cid-qrmdlq6WI6 {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #f4e8dd;
}
.cid-qrmdlq6WI6 .mbr-text,
.cid-qrmdlq6WI6 blockquote {
  color: #767676;
}
.cid-qrmdlq6WI6 .mbr-text {
  text-align: left;
}
.cid-qrmdlq6WI6 .mbr-text B {
  color: #d75d7c;
}
.cid-qrmcTXq08T {
  background: #ffffff;
}
.cid-qrmcTXq08T .image-block {
  margin: auto;
  width: 100% !important;
}
.cid-qrmcTXq08T figcaption {
  position: relative;
}
.cid-qrmcTXq08T figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-qrmcTXq08T .image-block {
    width: 100% !important;
  }
}
.cid-qrlY5cDHra {
  padding-top: 90px;
  padding-bottom: 90px;
}
.cid-qrlY5cDHra .socicon-bg-facebook {
  background: #3e5b98;
  color: #ffffff;
}
.cid-qrlY5cDHra .socicon-bg-twitter {
  background: #4da7de;
  color: #ffffff;
}
.cid-qrlY5cDHra .socicon-bg-googleplus {
  background: #dd4b39;
  color: #ffffff;
}
.cid-qrlY5cDHra .socicon-bg-vkontakte {
  background: #5a7fa6;
  color: #ffffff;
}
.cid-qrlY5cDHra .socicon-bg-odnoklassniki {
  background: #f48420;
  color: #ffffff;
}
.cid-qrlY5cDHra .socicon-bg-pinterest {
  background: #c92619;
  color: #ffffff;
}
.cid-qrlY5cDHra .socicon-bg-mail {
  background: #134785;
  color: #ffffff;
}
.cid-qrlY5cDHra .btn-social {
  border: none !important;
}
.cid-qrlY5cDHra [class^="socicon-"]:before,
.cid-qrlY5cDHra [class*=" socicon-"]:before {
  line-height: 44px;
}
@media (max-width: 767px) {
  .cid-qrlY5cDHra .btn {
    font-size: 20px !important;
  }
}
.cid-qrlY7dOd5y {
  padding-top: 90px;
  padding-bottom: 90px;
}
.cid-qrlY7dOd5y .mbr-iconfont-social {
  font-size: 32px;
  color: #073b4c;
}
.cid-qrlY7dOd5y .social-list a:focus {
  text-decoration: none;
}
.cid-qrm0dkEIWB {
  padding-top: 30px;
  padding-bottom: 30px;
  background-image: url("../../../assets/images/mbr-810x1080.jpg");
}
